/* CSS Grid Layout for Task 2.2 */

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  width: 250px;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
